In [3]:
import pandas as pd
#pd.Series( ["Spark","PySpark","Hadoop","Python","pandas","Oracle"] )
courses = pd.Series( ["Spark","PySpark","Hadoop","Python","pandas","Oracle"] ) 
print(courses)

0      Spark
1    PySpark
2     Hadoop
3     Python
4     pandas
5     Oracle
dtype: object

In [9]:
print(courses[3])

Python

In [10]:
print(courses[:4])

0      Spark
1    PySpark
2     Hadoop
3     Python
dtype: object

In [11]:
print(courses[:-4])

0      Spark
1    PySpark
dtype: object

In [12]:
print(courses[-4:])

2    Hadoop
3    Python
4    pandas
5    Oracle
dtype: object

In [14]:
# Accessing Pandas Series values by Using Labels
c = ( ["Spark","PySpark","Hadoop","Python","pandas","Oracle"] )
courses = pd.Series(c, index= ["element0","element1","element2","element3","element4","element5"] )
print(courses)

element0      Spark
element1    PySpark
element2     Hadoop
element3     Python
element4     pandas
element5     Oracle
dtype: object